[submodule "hiddify-sing-box"]
	path = hiddify-sing-box
	url = https://github.com/codesjd/hiddify-sing-box
	branch = client-sync/pinned-cert-tls
[submodule "ray2sing"]
	path = ray2sing
	url = https://github.com/codesjd/ray2sing
	branch = client-sync/pcs-and-anytls
